<p><img src="pics/<%= firstName %>_<%= lastName %>.jpg" width="160" height="160"/></p>
<h3><%= firstName %> <%= lastName %></h3>
<h4><%= title %></h4>
<br>
        <table class="table table-striped">
            <%
            if (managerId)
            {
            %>
            <tr>
                <td>Manager:</td>
                <td><span class="glyphicon glyphicon-user"></span> <a href='#employees/<%= managerId %>'><%= managerName %></a></td>
            </tr>
            <%
            }
            %>
            <tr>
                <td>Office Phone:</td>
                <td><span class="glyphicon glyphicon-home"></span> <%= officePhone %></td>
            </tr>
            <tr>
                <td>Cell Phone:</td>
                <td><span class="glyphicon glyphicon-headphones"></span> <%= cellPhone %></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td><span class="glyphicon glyphicon-envelope"></span> <a href="mailto:<%= email %>"><%= email %></a></td>
            </tr>
            <tr>
                <td>Twitter:</td>
                <td><span class="glyphicon glyphicon-retweet"></span> <a href=""><%= twitterId %></a></td>
            </tr>
        </table>

        <div class="alert alert-warning">
          <h4 class="alert-heading">Warning</h4>
          The phone numbers, email addresses, and Twitter handlers are fake.
        </div>
